h1 {
    font-family: sans-serif;
    font-size: 20pt;
    color: maroon;
    text-align: center;
    float: inherit;
    
}

body {
  font-family: sans-serif;
  font-size: 1.rem;
  color: black;
    
}


ul {
  list-style-type: none;
  padding: 10px;
  position: inherit;
  overflow: auto;
  background-color: #FFF;
  text-align: center; 
  max-width: 100%;
}

li {
  float: center;
  position: inherit;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  
}

a {
  display: block;
  padding: 3px;
  text-align: center;
  background-color: #fff;
}

li a {
  display: inline-block; 
  color: black;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  align-content: center;
  max-width: 100%;
  white-space: nowrap;
}

li a:hover {
  background-color: blue;
  opacity: 10%
}
.contact-menu {
    text-align: center;
    display: block;
    
}

form {
  /* Nicer shading and sizing */
  background-color: #eed;
  padding: 0.2rem;
  width: 60rem;
  /* Use border-box sizing to set width ignoring padding/border */
  box-sizing: content-box;
  /* Fix width of form and centre horizontally in page */
  margin: auto;
  /* Never be wider than the space available */
  max-width: 100%;
}

/* Nicer spacing and sizing */
fieldset {
  margin-bottom: 1rem;
}
legend {
  font-size: 90%;
  font-weight: bold;
  font-family: sans-serif;
}

/* An element with class="form-group" usually containing a label/input pair */
.form-group {
  /* Display each pair on a new line taking upto the whole width -
     i.e. present like a <div> element */
  display: block;
  /* Nicer spacing */
  margin: 1.8rem;
}


/* A <label> element inside an element with class="form-group" */
.form-group label {
  /* Display labels inline with inputs -
     but otherwise present them like a <div> element */
  display: inline-block;
  /* Use border-box sizing to set width ignoring padding/border */
  box-sizing: border-box;
  /* Set a minimum width to keep labels and inputs in line vertically */
  min-width: 15rem;
  /* Never be wider than the space available */
  max-width: 100%;
}

/* A <textarea> element inside an element with class="form-group" */
.form-group textarea {
  /* Display each textarea on a new line -
     i.e. present like a <div> element */
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}

#menu {
  background-color: white;
  display: contents;
  border: none;
  float: center; 
  width: 100%;
  color: #fff;
  text-align: center;
  padding: none;
}

.main-menu {
    text-align: center;
    width: 100%;
}

#copyright {
  background-color: lightblue;
  color: #080b61;
  clear: both;
  margin: 20px;
}

/* A <label> element inside an element with class="form-wrap" */
.form-wrap label {
  /* Add a bit of space to avoid touching the element below */
  margin-bottom: 0.5rem;
}

/* A <label> element inside an element with class="form-inline" */
.form-inline label {
  /* Reset minimum width for multiple labels/inputs on one line */
  min-width: 0;
}

/* Respond to smaller screens */
@media only screen and (max-width: 400px) {

  .checkbox,
  .prompt {
    display: block;
  }
    input[type=submit] {
  background-color: blue;
  color: white;
  padding: 12px 20px;
  border: none;
  width: 10rem;        
  border-radius: 4px;
  cursor: pointer;
    }
    
  #menu {
    display: block;
      width: 20rem;
      
  }

    li {
    margin-right: 2px;
    width: calc(96% / 6);
    float: center;
    
  }

  li ul li {
    margin-left: 8px;
    width: 100%;
    float: center;
      
  }

  li:hover > ul {
    display: inline-block;
    position: relative;
    width: 100%;
    float: none;
    overflow: visible;
    font-size: 8px;
  }
    .contact-menu
    {
        font-size: 10px;
       
    }

}

/*Respond to computer screens - larger */
@media only screen and (min-width: 1000px) {
  .display-menu {
    display: block;
  }
  input[type=submit] {
  background-color: lightblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
    }
    
  #extra-column {
    width: 100%;
    float: center;
    top: 4px;
    display: inline;
    max-width: 320px;
  }

  .extra-column-content {
    display: inline;
  }

  #menu {
    display: block;
    background-color: white;
    float: center;
    width: 100%;
  }
  .main-content {
    background-color: white;
    float: center;
    width: 100%;
    top: 2px;
  }

}
